extends layout

block content
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
        header.masthead.mb-auto
            div.inner
                h3.masthead-brand mzklabel
                nav.nav.nav-masthead.jutify-content-center
                    a.nav-link.active(href="#") Home
                    a.nav-link(href="#") Repo
                    a.nav-link(href="#") Docs
                    
        main.inner.cover(role="main")
            h1.cover-heading mzklabel
            p.lead an api for music labels
            p.lead
                a.btn.btn-lg.btn-secondary(href="#") Learn More
                
        footer.mastfoot.mt-auto
            div.inner
